h1,h2,h3,h4,h5,h6 {
  font-family:'Montserrat Alternates';
}
p {
  font-family: 'Lato';
}

.text-color {
  color: rgb(55, 57, 69);
}
.bg-color {
  background: rgb(220, 221, 225);
}

.text-accent-blue {
  color: rgb(58, 122, 242);
}
.bg-accent-blue {
  background: rgb(58, 122, 242);
}

.grey-bg {
  background: rgb(192, 195, 203);
}
