{% extends "base.html" %}
{% load static %}

{% block page_content %}

<section id="recent-projects" class="text-center" style="margin-top: 100px;">
  <h2 class="mt-3">Recent Projects</h2>
  <p>Each project we work on gets our undivided attention from concept to launch. These are some of our favorites we had the pleasure of working on recently.</p>
  <div class="row text-center offset-lg-2 col-lg-9 mx-2">
  {% for project in projects %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 d-flex mb-3">
      <a href="{% url 'project_detail' project.pk %}">
        <div class="card mb-2 w-100 d-flex flex-column shadow">
            <img style="max-height: 120px; object-fit: cover;" class="card-img-top" src="{{ project.featured_image.url }}">
            <h5 class="card-title bg-dark text-light p-3">{{ project.title }}</h5>
            <div class="card-body text-center rounded text-color">
                <p>{{ project.description.html|safe|slice:":119" }}...</p>
            </div>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</section>>
{% endblock %}
